Repository i18next/i18next, pull requests merged in 2023-06, with the labels that each got.

#1885 change returnNull default to false
  index.d.ts
  src/defaults.js
  test/i18next.translation.t.spec.js
  test/typescript/custom-types/i18next.d.ts
  test/typescript/custom-types/t.test.ts
  test/typescript/t.test.ts
Labels: PR, typescript, pr hold

#1945 prefixed ordinal keys
  .eslintrc
  src/PluralResolver.js
  src/Translator.js
  test/translator/translator.translate.missing.spec.js
  test/translator/translator.translate.plural.spec.js
Labels: PR, pr hold

#1975 #1928: add fallbackNS type handling
  index.d.ts
  test/typescript/custom-types/getFixedT.test.ts
  test/typescript/custom-types/i18next.d.ts
  test/typescript/fallback-types/getFixedT.test.ts
  test/typescript/fallback-types/i18next.d.ts
  test/typescript/fallback-types/tsconfig.json
  tsconfig.json
Labels: typescript
